<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/lib/editor/editor.css">
    <link rel="stylesheet" href="/static/lib/webuploader/webuploader.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="/static/lib/jquery-3.0.0.min.js"></script>
    <script src="/static/lib/webuploader/webuploader.withoutimage.js"></script>
    <script src="/static/lib/editor/editor.js"></script>
    <script src="/static/lib/editor/ext.js"></script>
    <title>CNode</title>
    <style type="text/css">
        a{text-decoration:none;}





    </style>
    {{ ckeditor.load() }}
</head>
<body>
<div class='navbar'>
    <div class='navbar-inner'>
        <div class='container'>
            <a class='brand' href='/topic'>
                <img src="//o4j806krb.qnssl.com/public/images/cnodejs_light.svg"/>
            </a>
            <ul class='nav pull-right'>
                <li><a href='/topic'>首页</a></li>
                <li>
                    <a href="/topic/about">项目说明</a>
                </li>
                <li>
                    <a href="{{ url_for('index.new_profile', profile_id=user.id) }}">个人资料</a>
                </li>
                <li>
                    <a href="/register">注册</a>
                </li>
                {% if user %}
                <li>
                    <a href="/topic/logout">退出</a>
                </li>
                {% else %}
                <li>
                    <a href="/login">登录</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<div id="main">
    <div id='sidebar'>
        <div class='panel'>
            <div class='header'>
                <span class='col_fade'>作者</span>
            </div>
            <div class='inner'>
                <div class='user_card'>
                    <div>
                        <a class='user_avatar' href="{{ url_for('index.profile', profile_id=topic.user().id) }}">
                            <img src="{{'/uploads/' + topic.user().user_image + '?v=1&amp;s=30'}}"/>
                        </a>
                        <span class='user_name'><a class='dark'
                                                   href="{{ url_for('index.profile', profile_id=topic.user().id) }}">{{ topic.user_name() }}</a></span>
                        <div class="space clearfix"></div>
                        <span class="signature">
                            {{ topic.user().signature }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="content">
        <div class='panel'>
            <div class='header topic_header'>
                <span class="topic_full_title">
			        {{ topic.title }}
            	</span>
                <div class="changes">
                    <span>
                        发布于{{ timestamp }}前
                    </span>
                    <span>
                        作者
                        <a href="{{ url_for('index.profile', profile_id=topic.user().id) }}">{{ topic.user_name() }}</a>
        	        </span>
                    <span>
          	            {{ topic.views-1 }} 次浏览
        	        </span>
                    <span>
                        来自 {{ topic.board_name() }}
                    </span>
                    {% if user.role == 0 and topic.top == false%}
                        <span>
                                <a class="topic_title" href="{{ url_for('topic.top', id=topic.id) }}">
                                    置顶
                                </a>
                        </span>
                    {% elif user.role == 0 and topic.top == true%}
                        <span>
                                <a class="topic_title" href="{{ url_for('topic.top_undo', id=topic.id) }}">
                                    取消置顶
                                </a>
                        </span>
                    {% endif %}
                    {% if user.role == 0 or user.id == topic.user_id %}
                    <span>
                                <a class="topic_title" href="{{ url_for('topic.delete', id=topic.id, token=token) }}">
                                    删除
                                </a>
                        </span>
                    {% endif %}
                </div>
            </div>

            <div class='inner topic'>
                <div class='topic_content'>
                    <div class="markdown-text">
                        {{ topic.content | safe }}
                    </div>
                </div>
                <div class='panel'>
                    <div class='header'>
                        <span class='col_fade'>{{ topic.replies() | count }} 回复</span>
                    </div>
                    {% for r in topic.replies() %}
                    <div class='cell reply_area reply_item'>
                        <div class='author_content'>
                            <a href="/user/Jianzs" class="user_avatar">
                                <img src="{{'/uploads/' + r.user().user_image + '?v=1&amp;s=30'}}" height="50"
                                     width="30" title="{{ r.user().username }}"/></a>
                            <div class='user_info'>
                                <a class='dark reply_author'>
                                    {{ r.user().username }}
                                </a>
                                <a class="reply_time">
                                    {{ loop.index }}楼•{{ r.new_time(r.created_time) }}前
                                </a>
                                {% if topic.user_id == r.user_id %}
                                <span class="reply_by_author">作者</span>
                                {% endif %}
                            </div>
                            <div class='user_action'>
                             <span>
                                 <i class="fa up_btnfa-thumbs-o-upinvisible" title="喜欢"></i>
                             </span>
                            </div>
                        </div>
                        <div class='reply_content from-Jianzs'>
                            <div class="markdown-text">
                                {{ r.content | safe }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% if user %}
                    <div>
                        <form action="{{ url_for('reply.add') }}" method="post">
                            <input type="hidden" name="topic_id" value="{{ topic.id }}">
                            <textarea name="content" id="editor1" class="ckeditor"></textarea>
                            <button>添加回复</button>
                        </form>
                    </div>
                    {% else %}
                    <div>
                        <h4>您尚未登录，请<a href="/login">登录</a>后再发表评论。</h4>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>