<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bbs club</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/lib/editor/editor.css">
    <link rel="stylesheet" href="/static/lib/webuploader/webuploader.css">
    <script src="/static/lib/jquery-3.0.0.min.js"></script>
    <script src="/static/lib/markdownit.js"></script>
    <script src="/static/lib/webuploader/webuploader.withoutimage.js"></script>
    <script src="/static/lib/editor/editor.js"></script>
    <script src="/static/lib/editor/ext.js"></script>
</head>
<body>
<div id="main">
    <div id="sidebar">
        <div class="panel">
            <div class="inner">
                <a href="/topic/new" class="create_topic_btn">
                    <span class="span-success">发布话题</span>
                </a>
                <a href="/topic/logout" class="create_topic_btn">
                    <span class="span-success">退出登录</span>
                </a>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="panel">
            <div class="header">
                {% for b in bs %}
                    <a href="/topic?board_id={{ b.id }}" class="topic-tab current-tab">
                    {{ b.board_name }}
                    </a>
                {% endfor %}
            </div>
            <div class="inner post">
                <div class="topic_list">
                    {% for m in ms %}
                    <div class="cell">
                        <div class="topic_title_wrapper">
                            <a class="user_avatar pull-left">
    <img src="{{'/uploads/' + m.user().user_image + '?v=1&amp;s=30'}}" height="200" width="200"/>
</a>
                            <a class="topic_title" href="{{ url_for('topic.detail', id=m.id) }}">
                                {{ m.title }}
                            </a>
                            <span>{{ m.replies() | count }} / {{ m.views-1 }}   </span>
                            <a class="topic_title" href="{{ url_for('topic.delete', id=m.id, token=token) }}">
                                删除
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
  (function () {
    var editor = new Editor();
    editor.render($('.editor')[0]);
  })();

</script>
</body>
</html>