<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CNode</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/lib/editor/editor.css">
    <link rel="stylesheet" href="/static/lib/webuploader/webuploader.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="/static/lib/jquery-3.0.0.min.js"></script>
    <script src="/static/lib/markdownit.js"></script>
    <script src="/static/lib/webuploader/webuploader.withoutimage.js"></script>
    <script src="/static/lib/editor/editor.js"></script>
    <script src="/static/lib/editor/ext.js"></script>
</head>
<body>
<div class='navbar'>
    <div class='navbar-inner'>
        <div class='container'>
            <a class='brand' href=''>
                <img src="//o4j806krb.qnssl.com/public/images/cnodejs_light.svg"/>
            </a>
            <ul class='nav pull-right'>
                <li><a href=''>首页</a></li>
                <li>
                    <a href='/my/messages'>
                        未读消息
                    </a>
                </li>
                <li><a href='/getstart'>新手入门</a></li>
                <li><a href='/api'>API</a></li>
                <li><a href="/about" target="">关于</a></li>
                <li><a href='/setting'>设置</a></li>
                {% if user %}
                <li>
                    <a href="/topic/logout" data-method="post" rel="nofollow">退出</a>
                </li>
                {% else %}
                <li>
                    <a href="/login" data-method="post" rel="nofollow">登录</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<div id="main">
    <div id="sidebar">
        <div class="panel">
            <div class="inner">
                {% if user %}
                <a>
                    <img src="{{'/uploads/' + user.user_image + '?v=1&amp;s=30'}}" height="50" width="30"/>
                </a>
                <a>
                    <span>{{ user.username }}</span>
                </a>
                <br>
                {% endif %}
                <a href="/topic/new" class="create_topic_btn">
                    <span class="span-success">发布话题</span>
                </a>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="panel">
            <div class="header">
                {% for b in bs %}
                <a href="/topic?tab={{ b.tab }}" class="topic-tab current-tab">
                    {{ b.board_name }}
                </a>
                {% endfor %}
            </div>
            <div class="inner post">
                <div class="topic_list">
                    {% for m in ms %}
                    <div class="cell">
                        <div class="topic_title_wrapper">
                            <a class="user_avatar pull-left">
                                <img src="{{'/uploads/' + m.user().user_image + '?v=1&amp;s=30'}}" height="200"
                                     width="200"/>
                            </a>
                            &nbsp;&nbsp;
                            <a>
                                <span>{{ m.replies() | count }} / {{ m.views-1 }}</span>
                            </a>
                            <a class="topic_title" href="{{ url_for('topic.detail', id=m.id) }}">
                                {{ m.title }}
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class='pagination'>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <ul>
        {% for i in range(pages) %}
        <li><a visited="red" href="{{ url_for('.index', tab=tab, pages=i+1) }}"><font color="black">{{ i+1 }}</font></a></li>
        {% endfor %}
    </ul>
</div>
</body>
</html>