<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Profile</title>
</head>
<body>
<h1>个人资料页面</h1>
<a class="user_avatar pull-left">
    <img src="{{'/uploads/' + user.user_image + '?v=1&amp;s=30'}}" height="200" width="200"/>
</a>
<br>
{% if user.id == current_user.id %}
    <a href="/profile_edit">
        <span>修改个人资料</span>
    </a>
{% endif %}
<br>
<span>昵称是：{{ user.username }}</span>
<br>
<span>角色是：
    {% if user.role == 0 %}
        管理员
    {% else %}
        普通用户
    {% endif %}
</span>
<br>
<span>个性签名：{{ user.signature }}</span>
</body>
</html>