<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- meta -->
    <meta charset="utf-8"/>
    <meta name='description' content='CNode：Node.js专业中文社区'>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords" content="nodejs, node, express, connect, socket.io"/>
    <meta name="referrer" content="always">
    <meta name="author" content="EDP@TaoBao"/>
    <meta property="wb:webmaster" content="617be6bd946c6b96"/>
    <link title="RSS" type="application/rss+xml" rel="alternate" href="/rss"/>
    <link rel="icon" href="//o4j806krb.qnssl.com/public/images/cnode_icon_32.png" type="image/x-icon"/>
    <link rel="stylesheet" href="//o4j806krb.qnssl.com/public/stylesheets/index.min.9d1ebdbb.min.css" media="all"/>
    <script src="//o4j806krb.qnssl.com/public/index.min.aeb155e1.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    <title>CNode：用户注册</title>
    <meta content="_csrf" name="csrf-param">
    <meta content="4BUn93Vw-yLGG-emsEXK85pfTv2jt0-uWO-c" name="csrf-token">
    <script type=text/javascript>
    $(function(){
        $("#register").on('click', function(){
            $.ajax({
                 type: 'post',
                 contentType: "application/json; charset=UTF-8",
                 url: '/to_register',
                 dataType: 'json',
                 data:JSON.stringify({
                      'username': $('input[name=username]').val(),
                      'signature': $('input[name=signature]').val(),
                      'password': $('input[name=password]').val(),
                 }),
                 success:function(data){
                    if(data.result){
                        alert('注册成功,'+ data.msg)
                        window.location.href='/login';
                    }else{
                        alert('注册失败，'+data.msg)
                        window.location.href='/register';
                    }
                },
                error:function(){
                    alert('网络错误，提交失败！')
                    window.location.href='/register';
                }
            });
         });
    });


    </script>
</head>
<body>
<!-- navbar -->
<div class='navbar'>
    <div class='navbar-inner'>
        <div class='container'>
            <a class='brand' href='/topic'>
                <img src="//o4j806krb.qnssl.com/public/images/cnodejs_light.svg"/>
            </a>
            <ul class='nav pull-right'>
                <li><a href='/topic'>首页</a></li>
                <li>
                    <a href="/topic/about">项目说明</a>
                </li>
                <li>
                    <a href="/register">注册</a>
                </li>
                {% if user %}
                <li>
                    <a href="/topic/logout">退出</a>
                </li>
                {% else %}
                <li>
                    <a href="/login">登录</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<div id='main'>
    <div id='content'>
        <div class='panel'>
            <div class='header'>
                <ul class='breadcrumb'>
                    <li class='active'>注册</li>
                </ul>
            </div>
            <div class='inner'>
                <form id='signin_form' class='form-horizontal' method='post'>
                    <div class='control-group'>
                        <label class='control-label' for='name'>用户名</label>
                        <div class='controls'>
                            <input class='input-xlarge' id='username' name='username' size='30' type='text' required/>
                        </div>
                    </div>
                    <div class='control-group'>
                        <label class='control-label' for='name'>个性签名</label>
                        <div class='controls'>
                            <input class='input-xlarge' id='signature' name='signature' size='30' type='text'/>
                        </div>
                    </div>
                    <div class='control-group'>
                        <label class='control-label' for='pass'>密码</label>
                        <div class='controls'>
                            <input class='input-xlarge' id='password' name='password' size='30' type='password'
                                   required/>
                        </div>
                    </div>
                </form>
                <div class='form-actions'>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type='submit' class='span-primary' id="register" value='注册'/>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
